/* GameSetup styles */

.game-setup-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}    

#board-size-box, #game-mode-box {
    font-size: 20px;       
}

#scheme-label {
    font-size: 20px;
    margin-top: 20px;
}

.scheme-icon {
    width: 60px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}

.color-scheme-container {
    display: flex;
    justify-content: center;
    gap: 2px;    
}

.scheme-option {
    text-align: center;
    cursor: pointer;
    border: 2px solid transparent;
    padding: 10px;
    border-radius: 10px;
}

.scheme-option:hover {    
    background-color: var(--color-option-hover);    
}

.scheme-option.selected {    
    background-color: var(--color-option-selected);
}