/* HexGameMenu styles */

#menu-wrapper {
    height: 640px;
    width: 640px;
    margin-top: 20px;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;    
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#menu-container {        
    width: 100%;
    height: 100%;
    background-color: lightGray;
    padding: 20px;    
    display: flex;  
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);      
}

#board-size-box, #game-mode-box {
    font-size: 20px;       
}

/* Flash effect */

@keyframes flash {
    0% {
        color: black;
    }
    50% {
        color: white;
    }
    100% {
        color: black;
    }
}

.flash {
    animation: flash 15s infinite;
}