/* Game styling */

#main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    margin-top: 20px;
}

#game-container {
    position: relative;
    width: 1400px;  
}