/* Modal styles */

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: var(--color-panel-2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: auto;
    padding: 20px;    
    width: 80%;    
    max-width: 500px;
    max-height: 80%;
    overflow: auto;
    text-align: center;
    user-select: none;
}

.modal-content button {    
    margin-left: 10px;
    margin-right: 10px;
}

.close {
    color: var(--color-label);
    float: right;
    font-size: 28px;
    font-weight: bold;    
}

.close:hover,
.close:focus {    
    color: var(--color-option-hover-inner);
    text-decoration: none;
    cursor: pointer;
}