/* StatusPanel styles */

#status {    
    height: 300px;
    width: 400px;
    background: var(--color-panel);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);    
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    gap: 20px; 
    font-size: 20px;
    display: none;
}

#turn-time-container {    
    margin-top: 10px;
    text-align: center;
    color: var(--color-label);
}

#status-container {
    display: flex;    
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

#button-container {
    margin-top: 20px;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.status-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

#status-text{
    margin-left: 10px;
    margin-right: 50px;
    font-weight: bold;   
}